/* Product */
  .ProductWrapper {
    width: 33.33%;
    height: 420px;
    display: block;
    float: left;
    padding: 15px 0;
  }
  .ProductWrapper:nth-child(odd) {
    padding: 15px 15px 15px 0;
  }
  .ProductWrapper:nth-child(even) {
    padding: 15px 0 15px 15px;
  }
  .Product {
    width: 100%;
    display: block;
    position: relative;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
  .Product:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }

  .Product-image {
    display: block;
    width: 100%;
    height: 250px;
    background-position: center bottom;
    background-size: cover;
    position: relative;
  }
  .Product-image:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.08);
  }
  .Product-price {
    display: inline-block;
    position: absolute;
    padding: 10px;
    font-weight: 300;
    color: #fff;
    background: #455a64;
    bottom: 0;
    left: 0;
  }
  .Product-cta {
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    color: #fff;
    background: #64dd17;
    line-height: 50px;
    text-align: center;
    bottom: 0;
    right: 15px;
    border-radius: 100%;
    transform: translateY(50%);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    z-index: 2;
  }
  .Product-cta.is-disabled {
    background: #b0bec5;
    color: #455a64;
  }
  .Product-cta:hover,
  .Product-cta:active {
    background: #2e7d32;
    color: #fff;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }

  .Product-content {
    display: block;
    background: #fff;
    padding: 15px 100px 15px 15px;
  }
  .Product-title {
    color: #455a64;
    font-weight: 300;
    font-size: 25px;
    display: block;
    line-height: 150%;
    margin-bottom: 15px;
  }










