/* Header */
  .Header {
    width: 100%;
    display: block;
    position: relative;
    height: 85px;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding: 25px 0;
    margin-bottom: 60px;
  }
  .Header h1 {
    display: inline-block;
    font-size: 35px;
    line-height: 35px;
    font-weight: 300;
    color: #616161;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.16);
    text-align: left;
    float: left;
  }
  .Header span {
    font-weight: 300;
    color: #bfbfbf;
  }

@media only screen and (max-width: 599px) {
  .Header h1 {
    display: block;
    float: none;
    text-align: center;
  }
  .Header a:hover {
    text-decoration: none;
  }
}