/* Footer */
  .Footer {
    width: 100%;
    display: block;
    position: relative;
    height: 85px;
    padding: 25px 0;
    margin-bottom: 32px;
    margin-top: 32px;
  }
  .Footer p {
    display: block;
    font-weight: 300;
    color: #78909c;
    text-align: center;
  }
